
.code {
    &:before {
    content: "#";
    color: rgb(95, 95, 139);
    }
    font-weight: bolder;
}

.value {
    &:before {
        content: "$";
        font-weight: bold;
        color: #00ff80;
        padding-right: 0.3rem;
    }
}

.green {
    color: #00ff80;
    font-weight: bolder;
    font-size: 1.2rem;
    
}

.yellow {
    color: #ffea00;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
}

.name {
    font-weight: bolder;
}

.date {
    color: rgb(95, 95, 139);
}