.button {
    background-color: #00ff80;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 18px;
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: rgb(22, 0, 121);
    margin: 32px 0;
    transition: 0.3s;
    &:hover {
        background-color: #ffffff;
        font-size: 19px;
    }
}