.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #25273c;
    position: absolute;
    width: 120px;
    height: 100vh;
    color: white;
}