.text-field {
    color: white;
    @media screen and (min-width: 800px) {
        text-align: end;
        
    }
    padding: 0.5rem;
    label {
        padding: 1rem;
    }
    input {
        padding: 0.5rem;
        
    }
}