body {
  background-color: #181824;
}

.App {
  text-align: center;
  height: 100vh;
}

table {
  border-spacing: 0 5px;
  
  
}

.table {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  color: white;
  background-color: #25273c;
  
  
}

@media screen and (max-width: 517px) {
  .table {
    transform: scale(0.75);
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #181824;
  }
}

.line {
  background-color: #25273c;
  border-radius: 1rem;
  
}

th {
  font-size: 1.1rem;
  color: #00ff80;
}

th, td {
  padding: 1rem;
  margin: 1rem;
}

tr:hover {
  background-color: #0b0b11;
  
}

@media screen and (min-width: 800px){
  .body {
    display: flex;
    justify-content: center;
    align-items:baseline;
  }
  
}